@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'BestTen-CRT';
  src: url('/fonts/BestTen-CRT.otf') format('opentype'); /* フォント形式を 'opentype' に指定 */
  font-weight: normal; /* 通常の太さ */
  font-style: normal; /* 通常のスタイル */
}

@font-face {
  font-family: 'BestTen-DOT';
  src: url('/fonts/BestTen-DOT.otf') format('opentype'); /* フォント形式を 'opentype' に指定 */
  font-weight: normal; /* 通常の太さ */
  font-style: normal; /* 通常のスタイル */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'BestTen-CRT';
}

a {
  font-family: 'BestTen-CRT';
}
